services:
  postgres:
    image: postgres:18
    container_name: postgres
    env_file:
      - ./.env
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 5

  migrate:
    image: migrate/migrate
    volumes:
     - ./migrations:/migrations
    env_file:
     - ./.env
    command:
      [ "-path", 
      "/migrations", 
      "-database", 
      "postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=${POSTGRES_SSLMODE}", "up" ]
    depends_on:
      postgres:
        condition: service_healthy

  pr_service:
    container_name: pr_service
    ports:
     - "8080:8080"
    build:
      context: ./
      dockerfile: ./Dockerfile
    env_file:
     - path: ./.env
    depends_on:
      migrate:
        condition: service_completed_successfully